In [3]:
import pandas as pd

In [5]:
df = pd.read_csv("mpg.csv")
df.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
0         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
1         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
2         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
3         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
4         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [36]:
df[["year","displ","cty","hwy"]]

     year  displ  cty  hwy
0    1999    1.8   18   29
1    1999    1.8   21   29
2    2008    2.0   20   31
3    2008    2.0   21   30
4    1999    2.8   16   26
..    ...    ...  ...  ...
229  2008    2.0   19   28
230  2008    2.0   21   29
231  1999    2.8   16   26
232  1999    2.8   18   26
233  2008    3.6   17   26

[234 rows x 4 columns]

3.4717948717948697
2003.5
5.888888888888889
16.858974358974358
23.44017094017094

KeyError: 'cty'