In [2]:
import pandas as pd
# import pyreadstat as py

In [4]:
df = pd.read_csv("../Analysis Data/converted.csv", sep='`', encoding='utf-8')
# with pd.option_context('display.max_columns', None):  # more options can be specified also
#     print(df)
df.head()

,weight,psraid,int_date,lang,type,cregion,state,usr,usr1,form,...,q63,educ,income,regist,regicert,party,partyln,ideo,pvote04a,pvote04b
1,4.512821,10000001,50807,English,RDD,Northeast,Connecticut,Suburban,Suburban,Form A,...,"Yes, father born outside U.S.","Technical, trade, or vocational school AFTER h...","75 to under $100,000","Yes, registered",Absolutely certain,Republican,NaN,Moderate,Voted,Bush
2,2.102564,10000002,50807,English,RDD,Northeast,Maine,Rural,Rural,Form B,...,"No, both parents born in U.S.",High school graduate (Grade 12 or GED certific...,"20 to under $30,000","No, not registered",NaN,Republican,NaN,Conservative,Did not vote (includes too young to vote),NaN
3,1.282051,10000003,50807,English,RDD,Northeast,Maine,Rural,Rural,Form A,...,"No, both parents born in U.S.","College graduate (B.S., B.A., or other 4-year ...","30 to under $40,000","No, not registered",NaN,Independent,Democrat,Conservative,Did not vote (includes too young to vote),NaN
4,1.355323,10000004,50807,English,RDD,Northeast,Maine,Rural,Rural,Form B,...,"No, both parents born in U.S.","Some college, no 4-year degree (including asso...","Less than $10,000","No, not registered",NaN,Independent,Democrat,Moderate,Did not vote (includes too young to vote),NaN
5,1.589744,10000005,50807,English,RDD,Northeast,New York,Urban,Urban,Form A,...,"Yes, father born outside U.S.",Post-graduate training or professional schooli...,"50 to under $75,000","Yes, registered",Absolutely certain,Independent,Democrat,Moderate,Voted,Other candidate

In [36]:
df = df[['income', 'q16']]
df

                          income                      q16
1           75 to under $100,000              Protestant
2            20 to under $30,000              Protestant
3            30 to under $40,000              Protestant
4              Less than $10,000   Nothing in particular
5            50 to under $75,000        Jewish (Judaism)
...                          ...                      ...
35552  Don't know/Refused (VOL.)          Roman Catholic
35553          Less than $10,000          Roman Catholic
35554        20 to under $30,000          Roman Catholic
35555        30 to under $40,000          Roman Catholic
35556        30 to under $40,000   Nothing in particular

[35556 rows x 2 columns]

In [ ]:
religions = sorted(set(df['q16']))
grouped = df.groupby(['income'])

In [33]:
temp_dict = {}
for name, group in grouped:
    list_of_religions = group.q16.tolist()
    religion = {}
    for rel in religions:
        number = 0
        for elem in list_of_religions:
            if elem == rel:
                number += 1
        if number != 0:
            religion[rel] = [number]
    temp_dict[name] = religion

In [50]:
temp_list = []
for elem in temp_dict:
    temp_list.append([elem, pd.DataFrame(temp_dict[elem])])

In [54]:
i=0
for elem in temp_list:
    elem[1].to_csv(path_or_buf=str('../Analysis Data/dataframe' + str(i) + '.csv'))
    i += 1